

.eat-banner{
    background: url(../../assets/eat-banner.jpg);
    height: 80vh;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    font-family: 'PT Sans', sans-serif;
}
.eat-banner::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    z-index: -1;
}
.eat-banner h2{
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 8px;
    padding-bottom: 30px;
}
.eat-banner p{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

@media (max-width:990px) {
    .eat-banner h2{
        font-size: 36px;
    }
    .eat-banner p{
        font-size: 18px;
    }
}

@media (max-width:568px) {
    .eat-banner h2{
        font-size: 30px;
        letter-spacing: inherit;
    }
    .eat-banner p{
        font-size: 16px;
    }
}